.datepicker-row .fetch-button-container {
    padding-left: 0;
}

#historical-table {
    display: none;
}

.col-row-number {
    width: 10% !important;
    text-align: center;
}

.col-date {
    width: 45% !important;
}

.col-rate {
    width: 45% !important;
}

#latest-price-paragraph {
    display: none;
}

#latest-rate, #latest-date {
    font-weight: bold;
}

.tab-content {
    border-left: 1px solid rgb(222, 226, 230);
    border-right: 1px solid rgb(222, 226, 230);
    border-bottom: 1px solid rgb(222, 226, 230);
}

#btn-fetch-latest,
#latest-price-paragraph {
    margin-left: 15px;
}